{
    "presets": ["module:metro-react-native-babel-preset"],
    "plugins": [
        ["wildcard", { "noModifyCase": true, "exts": ["js", "json", "svg"] }],
        "@quickbaseoss/babel-plugin-styled-components-css-namespace"
    ]
}
